{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
{% endblock %}



{% block title %}Select a Game{% endblock %}

{% block content %}
<h1>Roosters Div 2 Voting</h1>
    <ul>
        <h3>Select a Game to Vote</h3>
        {% for game in games %}
            <li><a href="{% url 'vote' game_id=game.id %}">Game on {{game.date}} at {{game.location}} against {{game.team}} {{game.score}} Result: {{game.result}} </a></li>
        {% empty %}
            <li>No games available for voting.</li>
        {% endfor %}
    </ul>
    {% if user.is_authenticated and user.is_staff %}
    <a href="{% url 'player_votes' %}">Points</a>
{% endif %}
    <a href="{% url 'login'%}"> login</a><p>You dont need to login</p>
    
{% endblock %}
