{% extends 'base.html' %}
{% block content %}
<h1>Player Statistics</h1>
<H3>Sort</H3>
<div class="sort-options">
    <a href="?sort=goals">Goals</a> 
    <a href="?sort=assists">Assists</a> 
    <a href="?sort=match_votes">Match Votes</a> 
    <a href="?sort=penalties">Penalties</a>
</div>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Goals</th>
            <th>Assists</th>
            <th>Match Votes</th>
            <th>Penalties</th>
        </tr>
    </thead>
    <tbody>
        {% for player in players %}
        <tr>
            <td>{{ player.name }}</td>
            <td>{{ player.goals }}</td>
            <td>{{ player.assists }}</td>
            <td>{{ player.match_votes }}</td>
            <td>{{ player.penalties }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'select_game' %}">Back</a> 
{% endblock %}
