/* Reset some default styling */
body, ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ensures padding doesn't affect the total width */
}

/* Apply a background color to the body, and set the font */
body {
    background-color: #f0f8ff; /* Light blue background */
    color: #333; /* Dark text */
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 20px; /* Padding around the edges */
}

/* Style the content container */
.content-container {
    width: 100%;
    max-width: 600px; /* Max width for larger screens, adjust as needed */
    margin: 20px auto 0 auto; /* Top and bottom margin 20px, auto for left/right to center */
    padding: 10px; /* Padding inside the container */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: add shadow for some depth */
    background: #fff; /* White background */
}

/* Style the list of games */
ul {
    list-style: none;
    padding: 0; /* Remove default padding */
}

li {
    background: #fff; /* White background for list items */
    border: 1px solid #ccc; /* Border between items */
    margin-bottom: 5px;
    display: flex; /* Make the list item a flex container */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    height: 60px; /* Set a fixed height for list items */
}

li a {
    background: #004080; /* Blue background for links */
    color: #fff; /* White text for links */
    text-decoration: none;
    padding: 10px 20px; /* Padding inside the link */
    border-radius: 5px; /* Optional: rounded corners for the link */

}

/* Optionally, you can add a hover effect to the link */
li a:hover {
    background: #0059b3; /* Darker blue on hover */
}

/* Style the forms */
form {
    background: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
}

input[type="submit"] {
    background: #004080;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background: #0059b3;
}

/* Style the back link */
a {
    display: inline-block;
    background: #0556a7;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 20px;
}

a:hover {
    background: #016cd7;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    body {
        padding-left: 5%; /* Less padding on smaller screens */
        padding-right: 5%; /* Add some padding on the right to avoid edge-to-edge content display */
    }
    .content-container {
        margin-right: 0; /* Remove the right margin on smaller screens */
    }
}
